.load-message {
    margin: 30px 40px 40px 40px;
}

.container {
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px;
}

.header {
    text-align: center;
}

.info-cell {
    margin-bottom: 10px;
}

.btn-update {
    padding: 10px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}